
  
  <main class="error-container">
    <h2><%= title %></h2>
    <p class="error-message"><%= message %></p>
    <% if (typeof error !== 'undefined' && error.stack) { %>
      <pre class="error-stack"><%= error.stack %></pre>
    <% } %>
    <a href="/" class="btn">Return Home</a>
  </main>
</body>
</html>